
body {
  line-height:18px;
  font-size:14px;
}

.flash-destroy {
  color:blue;
  margin-bottom:20px;
}

th {
  font-size:15px;
  padding-bottom:5px;
}

td {
  padding:1px 5px 7px ;
  margin:33px;
}

.home-top h1 {
  padding-bottom:20px;
}

.create-title h2 {
  padding-top:15px;
}

 ul {
  color:red;
 }
 
.field {
  padding-bottom: 10px;
}
 .field p {
   padding:10px 0;
 }

.create {
  padding:10px 0 ;
}